article {
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    margin: 20px auto;
    text-align: center;
    width: 80%;
}

article h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 10px;
}

article p {
    color: #666;
    font-size: 1rem;
    line-height: 1.5;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form label {
    margin-top: 10px;
    color: #333;
}

main form input, form textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

main form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main form button:hover {
    background-color: #555;
}
