
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    background: #fff;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    flex: 1 1 calc(100% - 40px); /* Padrão para dispositivos móveis */
    box-sizing: border-box;
}

.item img {
    max-width: 100%;
    height: auto;
}

.item h2 {
    color: #333;
}

.item p {
    color: #666;
}

main button {
    color: white;
    background-color: black;
    border-radius: 30%;
    padding: .5rem;
    transition: .3s;
}

main button:hover{
    background-color: rgb(61, 61, 61);
    cursor: pointer;
    padding: .6rem;
}