
aside{
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    margin: 20px auto;
    text-align: center;
    width: 80%;
}

aside h1{
    color: #333;
    font-size: 2rem;
    margin-bottom: 10px;
}


aside p {
    color: #666;
    font-size: 1rem;
    line-height: 1.5;
}