aside{
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    margin: 20px auto;
    text-align: center;
    width: 80%;
}

aside form, aside h2, aside p{
    text-align: center;
    color: black;
}

article h2, article p { 
    font-size: 1.25rem;
}

form {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: block;
    margin: auto;
    max-width: 300px;
}

form label {
    display: block;
    padding: 0 0 .25rem .5rem;
}

form input {
    border: 1px solid red;
    padding: .25rem .5rem;
    width: 100%;
} 

#newuser #enviar {
    margin-top: 1rem;
    background-color: grey;
    color: white    ;
    padding: .25rem .5rem;
    border: none;
    cursor: pointer;
    pointer-events: none;
}

form input:valid {
    border: 1px solid green;
}

#newuser:valid #enviar {
    background-color: steelblue;
    pointer-events: all;
}


#myDialog {
    position: absolute;
    border: none;
    border-radius: .3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 90%;
    max-width: 300px;
    margin: auto;
    background-color: #ddd;
    font-size: 90%;
}

#myDialog h4 {
    margin-top: 0;
}

#myDialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

#newuser p span {
   display: flex;
}

#newuser p div a{
    color: blue;
    align-items: center;
}

#newuser #togglePass {
    margin-left: .2rem;
    padding: .1rem;
}