{% extends 'layout.html' %}

{% block article %}
<article>
    <h1>Sobre Nós</h1>
    <p>Bem-vindo à nossa loja Nike! Somos apaixonados por oferecer os melhores produtos esportivos para nossos clientes. Nossa missão é proporcionar uma experiência de compra excepcional, com produtos de alta qualidade e atendimento ao cliente de primeira classe.</p>
    <p>Desde nossa fundação, temos nos dedicado a trazer as últimas novidades e tendências do mundo esportivo. Seja você um atleta profissional ou alguém que gosta de se manter ativo, temos algo especial para você.</p>
    <p>Obrigado por escolher a nossa loja. Estamos aqui para ajudar você a alcançar seus objetivos e se destacar em suas atividades esportivas.</p>
</article>
{% endblock %}
