{% extends 'layout.html' %}

{% block article %}

<h2>Novo Treco</h2>
<p>Preencha os campos abaixo para cadastrar um novo treco.</p>


{% if success %}

<dialog  id="myDialog">
    <h4>Legal!</h4>
    <p>Seu novo treco foi cadastrado!</p>
    <form method="dialog">
        <button>OK</button>
    </form>
</dialog>
<script>myDialog.showModal()</script>

{% endif %}

{%  endblock %}

{% block aside %}

<form action="/new" method="post">

    <p>
        <label for="name">Nome:</label>
        <input type="text" name="name" id="name" required minlength="3" maxlength="127" value="">
    </p>

    <p>
        <label for="photo">URL da foto:</label>
        <input type="url" name="photo" id="photo" required value="">
    </p>

    <p>
        <label for="description">Descrição:</label>
        <textarea name="description" id="description" required minlength="3"></textarea>
    </p>

    <p>
        <label for="location">Localização:</label>
        <input type="text" name="location" id="location" required minlength="2" value="">
    </p>

    <p>
        <button type="submit">Cadastrar</button>
    </p>

</form>

{% endblock %}